body {
	font-size: 40px;
	text-align: center;
	border: 15px solid black;
	font-family: cursive;
}

#game-wrapper{
	margin: auto;
}

.dragon img {
	width: 50%;
}

#message{
	color: red;
}


input[type="button"] {
	background-color: red;
	font-family: cursive;
	font-size:30px;
	font-weight:bold;
	padding:25px;
	border: 2px solid black;
	margin-bottom: 10px;
}

h3{
	margin:10px 43%;
	/*border:5px solid black;*/
}